body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* section 1 */

.section1 {
    background-color: #1F2937;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #F9FAF8;
}

.button {
    background-color: #388EF6;
    color: #F9FAF8;
    border: none;
    border-radius: 7px;
    padding: 6px 24px;
    font-weight: bolder;
    margin: 16px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
    padding: 120px 0;
}

.hero img {
    width: 600px;
} 

/* section 2 */

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 64px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    margin-bottom: 128px;
}

.info img {
    width: 200px;
}

.section3 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 500px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.name {
    align-self: flex-end;
    font-size: 24px; 
    font-weight: bolder;
}

.call-to-action {
    background-color: #388EF6;
    margin: 200px 200px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}

.text1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text2 {
    color: #E5E7EB;
}

.button2 {
    background-color: #388EF6;
    color: #E5E7EB;
    padding: 0px 40px;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
}

p {
    color: #1F2937;
}

.info img {
    border-radius: 7px;
}